<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="static/css/admin/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="static/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="static/js/skygqcheckajaxform.1.5/jquery.skygqcheckajaxform.1.5.js"></script>
<script type="text/javascript">
	$(function() {
		var items_array = [
			{ name:"name",type:"",simple:"地区名称",focusMsg:'请填写地区名称'}
		];
		$("#countryform").skygqCheckAjaxForm({
			items			: items_array
		});
	});
</script>
</head>
<body>
<div class="tablenav"><span class="title">您的位置：<{$mod_name}> <span class="navfont">>></span> <{$ac_arr.$ac}></span><span class="refresh"><a href="javascript:location.reload() 
">刷新</a></span></div>
<div class="colorarea01">
<form name="form1" id="countryform" method="post" action="<{$adminpage}>?mod=country">
<table cellspacing="0" cellpadding="0" width="100%"  class="maintable">
<tr>
<th>名称：</th>
<td><input name="name" type="text"  size="30" value="<{$country.name}>" /></td>
</tr>
<tr>
<th>热门：</th>
<td><input type="radio" name="ishot" value="1" <{if $country.ishot==1}>checked<{/if}>/> 是 &nbsp;&nbsp;<input type="radio" name="ishot" value="0" <{if $country.ishot==0}>checked<{/if}>/> 否</td>
</tr>
<tr>
<th>排序：</th>
<td>
	<input type="text" name="orderid" size="5" value="<{$country.l_orderid}>">
</td>
</tr>
<tr>
<th></th>
<td>
	<div class="buttons"><input type="submit" name="thevaluesubmit" value="提交保存" class="submit">
	<input type="hidden" name="ac" value="<{$ac}>">
	<input type="hidden" name="id" value="<{$country.id}>">
	<input type="hidden" name="parentid" value="<{$country.parentid}>">
	<input type="reset" name="thevaluereset" value="重置">
</div>
</td>
</tr>
</table>
</form>
</div>
 </body>
</html>