<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="static/css/admin/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="static/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="static/js/skygqcheckajaxform.1.5/jquery.skygqcheckajaxform.1.5.js"></script>
<script type="text/javascript">
	$(function() {
		var items_array = [
			{ name:"c_name",type:"",simple:"栏目名称",focusMsg:'请填写栏目名称'},
			{ name:"c_url",type:"",simple:"url地址",focusMsg:'请填写url地址'}
		];
		$("#flinkform").skygqCheckAjaxForm({
			items			: items_array
		});
	});
</script>
</head>
<body>
<div class="tablenav"><span class="title">您的位置：<{$mod_name}> <span class="navfont">>></span> <{$ac_arr.$ac}></span><span class="refresh"><a href="javascript:location.reload() 
">刷新</a></span></div>
<div class="colorarea01">
<form name="form1" method="post" enctype="multipart/form-data" action="<{$adminpage}>?mod=flink">
<table cellspacing="0" cellpadding="0" width="100%"  class="maintable">
<tr>
<th>网址：</th>
<td><input name="l_address" type="text"  size="30" value="<{$link.l_address}>" /></td>
</tr>
<tr>
<th>网站名称：</th>
<td><input name="l_name" type="text"  size="30" value="<{$link.l_name}>" /></td>
</tr>
<tr>
<tr>
<th>链接说明：</th>
<td><textarea name="l_note" rows="3" cols="30"><{$link.l_note}></textarea></td>
</tr>
<tr>
<tr>
<th>是否显示：</th>
<td>
	<select name="is_show">
	 <{$selectshow}>
	</select></td>
</tr>
<th>排序：</th>
<td>
	<input type="text" name="l_orderid" size="5" value="<{$link.l_orderid}>">
</td>
</tr>
<tr>
<th>图例：</th>
<td><input name="upload" type="file"/>
</td>
</tr>
<tr>
<th></th>
<td>
	<div class="buttons"><input type="submit" name="thevaluesubmit" value="提交保存" class="submit">
	<input type="hidden" name="ac" value="<{$ac}>">
	<input type="hidden" name="l_id" value="<{$link.l_id}>">
	<input type="reset" name="thevaluereset" value="重置">
</div>
</td>
</tr>
</table>
</form>
</div>
 </body>
</html>