<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
<link href="static/css/admin/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="<{$weburl}>/static/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="<{$weburl}>/static/js/lhgcalendar/lhgcalendar.min.js"></script>
<script type="text/javascript">
function submithtml(action)
{
    document.form.action = action;
    document.form.submit();
}
$(function() {
	//日期选择
	$('#start_time').calendar();
	$('#end_time').calendar();
})
</script>
</head>
<body>
<div class="tablenav"><span class="title">您的位置：<{$mod_name}> <span class="navfont">>></span> <{$ac_arr.$ac}></span><span class="refresh"><a href="javascript:location.reload() 
">刷新</a></span></div>
<div class="colorarea01">
	<form name="form" method="post" action="<{$adminpage}>" target="report_iframe2">
		<table cellspacing="0" cellpadding="0" width="100%"  class="listtable">
			<tr>
				<th></th>
				<th align="left">更新线路：</th>
			</tr>
			<tr>
				<td align="center"></td>
				<td valign="top">
					<div class="htmlmenu">
						<p>更新所有信息
							<input type="button" class="button" value="开始更新" onclick="submithtml('<{$adminpage}>?mod=create_html&ac=products&op=1');"/>
						</p>
						<p>更新最新发布的
							<input type="text" name="productsnum" size="5" value="20">
							条信息
							<input type="button" class="button" value="开始更新" onclick="submithtml('<{$adminpage}>?mod=create_html&ac=products&op=2');"/>
						</p>
						<p>更新发布时间从
							<input id="start_time" class="date input-text" type="text" readonly="" size="10"  name="startdate" value="<{$starttimevalue}>">
							 到
							<input type="text" name="enddate" id="end_time" size="10" class="date" readonly value="<{$endtimevalue}>">
							&nbsp; 
							的信息
							<input type="button" class="button" value="开始更新" onclick="submithtml('<{$adminpage}>?mod=create_html&ac=products&op=3');"/>
						</p>
						<p>更新ID从
							<input type="text" name="startid" size="5">
							到
							<input type="text" name="endid" size="5">
							的信息
							<input type="button" class="button" value="开始更新" onclick="submithtml('<{$adminpage}>?mod=create_html&ac=products&op=4');"/>
						</p>
					</div>
				</td>
			</tr>
		</table>
	</form>
	<table cellspacing="0" cellpadding="0" width="100%"  class="listtable" style="border-top:none;">
		<tr>
			<th> 进行状态： </th>
		</tr>
		<tr>
			<td><{$loading}>
				<iframe id="report_iframe2" frameborder="0" name="report_iframe2" src="" scrolling="no" width="100%" height="500" ></iframe></td>
		</tr>
	</table>
</div>
</body>
</html>