<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="static/css/admin/style.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="static/js/common.js"></script>
</head>
<body>
<div class="tablenav"><span class="title">您的位置：<{$mod_name}> <span class="navfont">>></span> <{$ac_arr.$ac}></span><span class="refresh"><a href="javascript:location.reload() 
">刷新</a></span></div>
<div class="colorarea01">
<div class="search clearfix">
	<div class="searchL">
		<a href="<{$adminpage}>?mod=templates&ac=add" class="combutton">+添加模板</a>
	</div>
</div>
<form action="<{$adminpage}>?mod=templates" method="post" name="form">
<table cellspacing="0" cellpadding="0" width="100%"  class="listtable">
<tr><th></th><th align="left">文件</th><th>说明</th><th  width='80'>操作</th></tr>
<{foreach from=$templateslist key=key item=templates}>
<tr>
<td align="center" width="10"></td>
<td align="left"><{$templates.name}></td>
<td align="center"><input type="text" name="name[<{$templates.id}>]" value="<{$templates.detail}>"></td>
<td align="center">[<a href="<{$adminpage}>?mod=templates&ac=edit&filename=<{$templates.name}>&dir=<{$dir}>">编辑</a>]
</td>
</tr>
<{/foreach}>
<tr>
	<td colspan="4" class="buttontd">
	<a href="javascript:submitForm('<{$adminpage}>?mod=templates&ac=bulkedit','提交');" title="请选择后操作">提交</a>
	</td>
</tr>
</table>
</form>
<div class="listpage"><{$button_basic}><{$button_select}></div>
</div>
</body>
</html>