<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title><{$catname}>-<{$setting.title}> - <{$setting.sitename}></title>
		<meta content="<{$setting.keywords}>" name="keywords" />
		<meta content="<{$setting.description}>" name="description" />
		<link href="<{$weburl}>/templates/default/<{$setting.templates}>/css/page_channel.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="<{$weburl}>/static/js/jquery-1.4.2.min.js"></script>
		<script language="JavaScript">
			$(function(){
				$("td.datatd").toggle(
					function () {
						 $(this).parent().next().show();
					},
					function () {
						 $(this).parent().next().hide();
					}
				);

			})
		</script>
		</head>
	<body>
<!--内容--> 
<{include file="default/`$setting.templates`/head.html"}>
<!-- <div class="nav">
	<ul class="clearfix">
		<li><a href="<{$weburl}>">首页</a></li>
		<li class="li01">>></li>
		<li><{$catname}></li>
	</ul>
</div> -->
<div class="main clearfix mt10">
	<div class="main_left2">
		<div class="guidebox">
			<h3><{$catname}></h3>
			<div class="box">
				<ul class="guidelist">
					<li>
						<h4>类型</h4>
						<div>
							<a href="<{$weburl}>/index.php?mod=search&ac=search&catid=1">国内游</a>
							<a href="<{$weburl}>/index.php?mod=search&ac=search&catid=2">出境游</a>
						</div>
					</li>
					<li>
						<h4>天数</h4>
						<div>
							<a href="<{$weburl}>/index.php?mod=search&ac=search&startday=0&endday=5">5天以内</a>
							<a href="<{$weburl}>/index.php?mod=search&ac=search&startday=6&endday=8">6-8天</a>
							<a href="<{$weburl}>/index.php?mod=search&ac=search&startday=9&endday=10">9-10天</a>
							<a href="<{$weburl}>/index.php?mod=search&ac=search&startday=10&endday=100">10天以上</a>
						</div>
					</li>
					<li>
						<h4>价格</h4>
						<div>
							<a href="<{$weburl}>/index.php?mod=search&ac=search&startprice=0&endprice=2000">2000以内</a>
							<a href="<{$weburl}>/index.php?mod=search&ac=search&startprice=2001&endprice=5000">2001-5000</a>
							<a href="<{$weburl}>/index.php?mod=search&ac=search&startprice=5001&endprice=9999">5001-9999</a>
							<a href="<{$weburl}>/index.php?mod=search&ac=search&startprice=10000&endprice=20000">10000-20000</a>
							<a href="<{$weburl}>/index.php?mod=search&ac=search&startprice=20000&endprice=1000000">20000以上</a>
						</div>
					</li>
					<li>
						<h4>目的地</h4>
						<div>
							<{foreach from=$sort_list item=sortlist}><a href="#"><{$sortlist.catname}></a>&nbsp;&nbsp;<{/foreach}>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<{include file="default/`$setting.templates`/block_news.html" }>
	</div>
	<div class="main_right2">
		<div class="hotbox">
			<h3>当季热卖</h3>
			<div class="box clearfix">
				<{foreach from=$hotlist item=hot_list}>
				<dl class="hotline">
					<dt><a href="<{$hot_list.p_url}>"><{$hot_list.p_title}></a></dt>
					<dd class="img"><a href="<{$hot_list.p_url}>"><{if $hot_list.smallpic<>''}><img src="<{$hot_list.smallpic}>"><{else}><img src="<{$weburl}>/static/pic/snopic.jpg" /><{/if}></a></dd>
					<dd>
						<p><{$hot_list.p_detail}></p>
						<p class="orange01 fb f16 mt5">￥<{$hot_list.p_price}>起</p>
					</dd>
					
				</dl>
				<{/foreach}>
			</div>
		</div>
		<{foreach from=$sort_list item=sortlist}>
		<div class="commonbox4 mt10 clearfix mt10">
			<div class="leftbox">
				<h3><span class="more"><a href="<{$weburl}>/index.php?mod=search&ac=search&keywords=<{$sortlist.keywords}>" target="_blank">更多+</a></span><span class="title"><{$sortlist.catname}></span></h3>
				<table class="linetable">
					<tr>
						<th width="100">编号</th>
						<th align="left">线路</th>
						<th width="60">天数</th>
						<th width="60">团期</th>
						<th>价格</th>
					</tr>
					<{foreach from=$sortlist.linelist item=linelist}>
					<tr>
						<td align="center"><{$linelist.p_no}></td>
						<td><a href="<{$linelist.p_url}>" class="title1" target="blank"><{$linelist.p_short_title}></a> <a href="<{$linelist.p_url}>" class="title2" target="blank"><{$linelist.p_short_title2}></a></td>
						<td align="center"><{$linelist.p_travel_days}>天</td>
						<td align="center" class="datatd"><span class="title1">团期</span></td>
						<td align="center" class="fb orange01">￥<{$linelist.p_price}>起</td>
					</tr>
					<tr class="hide">
						<td colspan="5" class="pl20"><{foreach from=$linelist.datelist item=date}><span class="f12"><{$date.departure_time}>&nbsp;&nbsp;</span><{/foreach}></td>
					</tr>
					<{/foreach}>
				</table>
			</div>
		</div>
		<{/foreach}>
	</div>
</div>
<{include file="default/`$setting.templates`/block_service.html" }>
<{include file="default/`$setting.templates`/foot.html" }>
</body>
</html>