<!--底部导航-->
<div class="footer">
		<div class="foottop">
			<a href="<{$weburl}>/about/index.html" class="topaboutus green01" target="_blank">关于我们</a><span> | </span> 
			<a href="<{$weburl}>/about/91.html" class="topaboutus green01" target="_blank">经营资质</a><span> | </span> 
			<a href="<{$weburl}>/about/93.html" class="topaboutus green01" target="_blank">员工风采</a><span> | </span> 
			<a href="<{$weburl}>/about/92.html" class="topaboutus green01" target="_blank">办公场所</a><span> | </span>
			<a href="<{$weburl}>/about/71.html" class="topaboutus green01" target="_blank">联系我们</a>
		</div>
		<div class="copyright">
			<p> Copyright © 2009-2014 <{$setting.copyright}> 版权所有. <{$setting.icp}></p>
			<p>客服电话：<{$setting.tel}>  </p>
		</div>
 </div>
<!-- 版权 结束 -->