<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title><{$catname}>-<{$setting.sitename}></title>
		<meta content="<{$setting.keywords}>"  name="keywords"/>
		<meta content="<{$setting.description}>" name="description"/>
		<link href="<{$weburl}>/templates/default/<{$setting.templates}>/css/page_page.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="<{$weburl}>/static/js/jquery-1.4.2.min.js"></script>
	</head>
	<body>
		<!--内容-->
		<{include file="default/`$setting.templates`/head.html"}>
		<div class="nav">
			<ul class="clearfix">
				<li><a href="<{$weburl}>">首页</a></li>
				<li class="li01">>></li>
				<li><{$catname}></li>
			</ul>
		</div>
		<div class="main clearfix">
			<div class="main_left">
				<{include file="default/`$setting.templates`/block_promise.html" }>
				<{include file="default/`$setting.templates`/block_hotline.html" }>
				<{include file="default/`$setting.templates`/block_news.html" }>
			</div>
			<div class="main_right">
				<div class="commonbox">
					<h3><{$catname}></h3>
					<div class="box"> 
						<ul class="listnews">
							<{foreach from=$newslist item=news}>
							<li>
								<span class="fr f12 gray"><{$news.n_addtime}></span><a href="<{$news.n_url}>" target="_blank"><{$news.n_title}></a>
							</li>
							<{/foreach}>
						</ul>
						<div class="pagelist">
							<{$page_list}>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--版权-->
		<{include file="default/`$setting.templates`/block_service.html" }>
		<{include file="default/`$setting.templates`/foot.html"}>
	</body>
</html>
