<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title><{$news.n_title}> - <{$setting.sitename}></title>
<meta content="<{$news.n_keywords}>,<{$setting.keywords}>" name="keywords"/>
<meta content="<{$news.n_title}>,<{$setting.description}>" name="description"/>
<link href="<{$weburl}>/templates/default/<{$setting.templates}>/css/page_shop.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="<{$weburl}>/static/js/jquery-1.4.2.min.js"></script>
</head>
<body>
<!--内容--> 
<{include file="default/`$setting.templates`/shop_top.html"}>
<div class="shop_top">
	<div class="shop_name">上海东华国际旅行社</div>
	<div class="shop_search"></div>
</div>
<div class="shop_head">
	
</div>
<div class="shop_topmenu">
	<ul class="clearfix">
		<li><a href="#" class="here">首页</a></li>
		<li><a href="#">国内旅游</a></li>
		<li><a href="#">国际旅游</a></li>
	</ul>
</div>
<div class="shop_nav">您的位置：欣欣旅游网> 上海旅行社>上海东华国际旅行社</div>
<div class="shop_main clearfix">
	<div class="shop_left">
		<div class="leftbox">
			<h3>在线客服</h3>
			<div class="box">
				<ul class="service_online">
					<li>旅游热线：021-66973395</li>
					<li><a rel="nofollow" target="_blank" href="http://wpa.qq.com/msgrd?v=1&amp;uin=2880177075&amp;site=qq&amp;menu=yes"><img border="0" align="bottom" class="pic" src="http://wpa.qq.com/pa?p=1:2880177075:1"></a></li>
					<li><a rel="nofollow" target="_blank" href="http://wpa.qq.com/msgrd?v=1&amp;uin=2880177075&amp;site=qq&amp;menu=yes"><img border="0" align="bottom" class="pic" src="http://wpa.qq.com/pa?p=1:2880177075:1"></a></li>
					<li><a rel="nofollow" target="_blank" href="http://wpa.qq.com/msgrd?v=1&amp;uin=2880177075&amp;site=qq&amp;menu=yes"><img border="0" align="bottom" class="pic" src="http://wpa.qq.com/pa?p=1:2880177075:1"></a></li>
					<li><a rel="nofollow" target="_blank" href="http://wpa.qq.com/msgrd?v=1&amp;uin=2880177075&amp;site=qq&amp;menu=yes"><img border="0" align="bottom" class="pic" src="http://wpa.qq.com/pa?p=1:2880177075:1"></a></li>
				</ul>
			</div>
		</div>
		<div class="leftbox mt10">
			<h3>旅游线路分类</h3>
			<div class="box">
				<h4>国内游</h4>
				<ul class="leftsort">
					<li>> 海南</li>
					<li>> 云南</li>
					<li>> 四川</li>
				</ul>
				<h4>出境游</h4>
				<ul class="leftsort">
					<li>> 加拿大</li>
					<li>> 美国</li>
					<li>> 意大利</li>
				</ul>
			</div>
		</div>
		<div class="leftbox mt10">
			<h3>搜索店内</h3>
			<div class="box">
				<input type="text" name="keywords" class="keywords" size="15">
				<input type="submit" value="搜索">
			</div>
		</div>
		<div class="leftbox mt10">
			<h3>推荐线路</h3>
			<div class="box">
				<ul class="linelist">
					<li><a href="<{$hotline02.p_url}>">英国爱尔兰经典11日游</a></li>
					<li><a href="<{$hotline02.p_url}>">英国爱尔兰经典11日游</a></li>
					<li><a href="<{$hotline02.p_url}>">英国爱尔兰经典11日游</a></li>
					<li><a href="<{$hotline02.p_url}>">英国爱尔兰经典11日游</a></li>
					<li><a href="<{$hotline02.p_url}>">英国爱尔兰经典11日游</a></li>
					<li><a href="<{$hotline02.p_url}>">英国爱尔兰经典11日游</a></li>
					<li><a href="<{$hotline02.p_url}>">英国爱尔兰经典11日游</a></li>
					<li><a href="<{$hotline02.p_url}>">英国爱尔兰经典11日游</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="shop_right">
		<div class="shop_banner">
		</div>
		<div class="shop_search_box">
			<ul class="conditionlist">
				<li class="clearfix">
					<span>类&nbsp;&nbsp;&nbsp;型：</span> 
					<a href="<{$weburl}>/index.php?mod=search&ac=search&catid=0">不限</a>
					<a href="<{$weburl}>/index.php?mod=search&ac=search&catid=1">国内游</a>
					<a href="<{$weburl}>/index.php?mod=search&ac=search&catid=2">出境游</a>
				</li>
				<li class="clearfix">
					<span>天&nbsp;&nbsp;&nbsp;数：</span>
					<a href="<{$weburl}>/index.php?mod=search&ac=search&startday=0&endday=0">不限</a>
					<a href="<{$weburl}>/index.php?mod=search&ac=search&startday=0&endday=5">5天以内</a>
					<a href="<{$weburl}>/index.php?mod=search&ac=search&startday=6&endday=8">6-8天</a>
					<a href="<{$weburl}>/index.php?mod=search&ac=search&startday=9&endday=10">9-10天</a>
					<a href="<{$weburl}>/index.php?mod=search&ac=search&startday=10&endday=100">10天以上</a>
				</li>
				<li class="clearfix">
					<span>价&nbsp;&nbsp;&nbsp;格：</span> 
					<a href="<{$weburl}>/index.php?mod=search&ac=search&startprice=0&endprice=0">不限</a>
					<a href="<{$weburl}>/index.php?mod=search&ac=search&startprice=0&endprice=2000">2000以内</a>
					<a href="<{$weburl}>/index.php?mod=search&ac=search&startprice=2001&endprice=5000">2001-5000</a>
					<a href="<{$weburl}>/index.php?mod=search&ac=search&startprice=5001&endprice=9999">5001-9999</a>
					<a href="<{$weburl}>/index.php?mod=search&ac=search&startprice=10000&endprice=20000">10000-20000</a>
					<a href="<{$weburl}>/index.php?mod=search&ac=search&startprice=20000&endprice=1000000">20000以上</a>
				</li>
			</ul>
		</div>
		<div class="rightbox mt10">
			<h3><span>一日游</span></h3>
			<div class="box">
				<dl class="pwlist2 clearfix">
					<dt><span class="price">￥2988元起</span><a href="<{$linelist.p_url}>" target="_blank" class="title">上海出发：乌镇 江南水乡古镇休闲一日游</a> <a href="<{$linelist.p_url}>" target="_blank" class="title2"> 纯玩无购物</a></dt>
					<dd class="img"><a href="<{$linelist.p_url}>" target="_blank" class="vtimg"><{if $linelist.p_pics<>""}><img src="<{$linelist.smallpic}>" /><{else}><img src="<{$weburl}>/static/pic/snopic.jpg" /><{/if}></a></dd>
					<dd class="info">
						<p>团期：天天发团&nbsp;&nbsp;交通：汽车去汽车回</p>
					</dd>
				</dl>
				<dl class="pwlist2 clearfix">
					<dt><span class="price">￥2988元起</span><a href="<{$linelist.p_url}>" target="_blank" class="title">上海出发：乌镇 江南水乡古镇休闲一日游</a> <a href="<{$linelist.p_url}>" target="_blank" class="title2"> 纯玩无购物</a></dt>
					<dd class="img"><a href="<{$linelist.p_url}>" target="_blank" class="vtimg"><{if $linelist.p_pics<>""}><img src="<{$linelist.smallpic}>" /><{else}><img src="<{$weburl}>/static/pic/snopic.jpg" /><{/if}></a></dd>
					<dd class="info">
						<p>团期：天天发团&nbsp;&nbsp;交通：汽车去汽车回</p>
					</dd>
				</dl>
				<dl class="pwlist2 clearfix">
					<dt><span class="price">￥2988元起</span><a href="<{$linelist.p_url}>" target="_blank" class="title">上海出发：乌镇 江南水乡古镇休闲一日游</a> <a href="<{$linelist.p_url}>" target="_blank" class="title2"> 纯玩无购物</a></dt>
					<dd class="img"><a href="<{$linelist.p_url}>" target="_blank" class="vtimg"><{if $linelist.p_pics<>""}><img src="<{$linelist.smallpic}>" /><{else}><img src="<{$weburl}>/static/pic/snopic.jpg" /><{/if}></a></dd>
					<dd class="info">
						<p>团期：天天发团&nbsp;&nbsp;交通：汽车去汽车回</p>
					</dd>
				</dl>
				<dl class="pwlist2 clearfix">
					<dt><span class="price">￥2988元起</span><a href="<{$linelist.p_url}>" target="_blank" class="title">上海出发：乌镇 江南水乡古镇休闲一日游</a> <a href="<{$linelist.p_url}>" target="_blank" class="title2"> 纯玩无购物</a></dt>
					<dd class="img"><a href="<{$linelist.p_url}>" target="_blank" class="vtimg"><{if $linelist.p_pics<>""}><img src="<{$linelist.smallpic}>" /><{else}><img src="<{$weburl}>/static/pic/snopic.jpg" /><{/if}></a></dd>
					<dd class="info">
						<p>团期：天天发团&nbsp;&nbsp;交通：汽车去汽车回</p>
					</dd>
				</dl>
				<dl class="pwlist2 clearfix">
					<dt><span class="price">￥2988元起</span><a href="<{$linelist.p_url}>" target="_blank" class="title">上海出发：乌镇 江南水乡古镇休闲一日游</a> <a href="<{$linelist.p_url}>" target="_blank" class="title2"> 纯玩无购物</a></dt>
					<dd class="img"><a href="<{$linelist.p_url}>" target="_blank" class="vtimg"><{if $linelist.p_pics<>""}><img src="<{$linelist.smallpic}>" /><{else}><img src="<{$weburl}>/static/pic/snopic.jpg" /><{/if}></a></dd>
					<dd class="info">
						<p>团期：天天发团&nbsp;&nbsp;交通：汽车去汽车回</p>
					</dd>
				</dl>
			</div>
		</div>
		<div class="rightbox mt10">
			<h3><span>二日游</span></h3>
			<div class="box">
				<dl class="pwlist2 clearfix">
					<dt><span class="price">￥2988元起</span><a href="<{$linelist.p_url}>" target="_blank" class="title">上海出发：乌镇 江南水乡古镇休闲一日游</a> <a href="<{$linelist.p_url}>" target="_blank" class="title2"> 纯玩无购物</a></dt>
					<dd class="img"><a href="<{$linelist.p_url}>" target="_blank" class="vtimg"><{if $linelist.p_pics<>""}><img src="<{$linelist.smallpic}>" /><{else}><img src="<{$weburl}>/static/pic/snopic.jpg" /><{/if}></a></dd>
					<dd class="info">
						<p>团期：天天发团&nbsp;&nbsp;交通：汽车去汽车回</p>
					</dd>
				</dl>
				<dl class="pwlist2 clearfix">
					<dt><span class="price">￥2988元起</span><a href="<{$linelist.p_url}>" target="_blank" class="title">上海出发：乌镇 江南水乡古镇休闲一日游</a> <a href="<{$linelist.p_url}>" target="_blank" class="title2"> 纯玩无购物</a></dt>
					<dd class="img"><a href="<{$linelist.p_url}>" target="_blank" class="vtimg"><{if $linelist.p_pics<>""}><img src="<{$linelist.smallpic}>" /><{else}><img src="<{$weburl}>/static/pic/snopic.jpg" /><{/if}></a></dd>
					<dd class="info">
						<p>团期：天天发团&nbsp;&nbsp;交通：汽车去汽车回</p>
					</dd>
				</dl>
				<dl class="pwlist2 clearfix">
					<dt><span class="price">￥2988元起</span><a href="<{$linelist.p_url}>" target="_blank" class="title">上海出发：乌镇 江南水乡古镇休闲一日游</a> <a href="<{$linelist.p_url}>" target="_blank" class="title2"> 纯玩无购物</a></dt>
					<dd class="img"><a href="<{$linelist.p_url}>" target="_blank" class="vtimg"><{if $linelist.p_pics<>""}><img src="<{$linelist.smallpic}>" /><{else}><img src="<{$weburl}>/static/pic/snopic.jpg" /><{/if}></a></dd>
					<dd class="info">
						<p>团期：天天发团&nbsp;&nbsp;交通：汽车去汽车回</p>
					</dd>
				</dl>
				<dl class="pwlist2 clearfix">
					<dt><span class="price">￥2988元起</span><a href="<{$linelist.p_url}>" target="_blank" class="title">上海出发：乌镇 江南水乡古镇休闲一日游</a> <a href="<{$linelist.p_url}>" target="_blank" class="title2"> 纯玩无购物</a></dt>
					<dd class="img"><a href="<{$linelist.p_url}>" target="_blank" class="vtimg"><{if $linelist.p_pics<>""}><img src="<{$linelist.smallpic}>" /><{else}><img src="<{$weburl}>/static/pic/snopic.jpg" /><{/if}></a></dd>
					<dd class="info">
						<p>团期：天天发团&nbsp;&nbsp;交通：汽车去汽车回</p>
					</dd>
				</dl>
				<dl class="pwlist2 clearfix">
					<dt><span class="price">￥2988元起</span><a href="<{$linelist.p_url}>" target="_blank" class="title">上海出发：乌镇 江南水乡古镇休闲一日游</a> <a href="<{$linelist.p_url}>" target="_blank" class="title2"> 纯玩无购物</a></dt>
					<dd class="img"><a href="<{$linelist.p_url}>" target="_blank" class="vtimg"><{if $linelist.p_pics<>""}><img src="<{$linelist.smallpic}>" /><{else}><img src="<{$weburl}>/static/pic/snopic.jpg" /><{/if}></a></dd>
					<dd class="info">
						<p>团期：天天发团&nbsp;&nbsp;交通：汽车去汽车回</p>
					</dd>
				</dl>
			</div>
		</div>
	</div>
</div>
<{include file="default/`$setting.templates`/foot.html" }>
</body>
</html>