<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>各国签证 - <{$page.p_title}> - <{$setting.sitename}></title>
		<meta content="<{$setting.keywords}>"  name="keywords"/>
		<meta content="<{$setting.description}>" name="description"/>
		<link href="<{$weburl}>/templates/default/<{$setting.templates}>/css/page_page.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="<{$weburl}>/static/js/jquery-1.4.2.min.js"></script>
	</head>
	<body>
		<!--内容-->
		<{include file="default/`$setting.templates`/head.html"}>
		<div class="nav">
			<div class="nav">
			<ul class="clearfix">
				<li><a href="<{$weburl}>">首页</a></li>
				<li class="li01">>></li>
				<li><a href="<{$weburl}>/visa/">各国签证</a></li>
			</ul>
		</div>
		</div>
		<div class="main clearfix">
			<div class="main_left">
				<{include file="default/`$setting.templates`/block_promise.html" }>
				<{include file="default/`$setting.templates`/block_hotline.html"}>
				<{include file="default/`$setting.templates`/block_news.html" }>
			</div>
			<div class="main_right">
				<{foreach from=$continent_list key=key item=continentlist}>
				<div class="commonbox3 <{if $key<>0}>mt10<{/if}>">
					<h3><span class="title"><{$continentlist.name}>热门签证</span></h3>
					<div class="p10">
						<ul class="visalist01 clearfix">
						<{foreach from=$continentlist.visalist item=visa_list}>
							<li><a href="<{$weburl}>/visa/list_<{$visa_list.cid}>.html"><{$visa_list.country}></a></li>
						<{/foreach}>
						</ul>
					</div>
				</div>
				<{/foreach}>
			</div>
		</div>
		<!--版权-->
		<{include file="default/`$setting.templates`/block_service.html" }>
		<{include file="default/`$setting.templates`/foot.html"}>
	</body>
</html>
