@import url(base.css);
@import url(common.css);
@charset "utf-8";
/*全站链接样式*/
a{ color:#333; text-decoration:none;}
a:hover{ color:#ff6600; text-decoration:none;} 
.blank{height:10px;}
body{ color:#333; font-size:12px;}
.blank{ height:10px;}

body{font-weight:normal;font:12px "宋体",verdana,lucida,helvetica,arial,sans-serif;}

/*当季热卖*/
.hotbox{border:1px solid #d8d8d8;border-top:2px solid #339933;padding:10px;background:#fdfdfd;}
.hotbox h3{height:30px;padding-left:10px;font-size:14px;color:#ff6600;font-weight:bold;}

.hotline{float:left;width:360px;padding:10px;}
.hotline dt{float:right;width:200px;height:20px;color:#007ed9;font-size:14px;font-weight:bold;}
.hotline dd{margin:0 0 0 160px;padding:0;line-height:18px;color:#868686;}
.hotline dd.img{float:left;margin:0;}
.hotline dd.img img{width:150px;height:100px;}


/*旅游线路列表*/
.linetable{width:100%;}
.linetable th{height:30px;line-height:30px;text-align:center;background:#fbfbfb;font-size:14px;color:#666;}
.linetable td{height:30px;line-height:30px;font-size:14px;border-bottom:1px solid #eee;}
.linetable td .title1{color:#0066cc;}
.linetable td .title2{color:#009900;}
.linetable td.datatd{cursor:pointer;}

/*网站地图*/
.sitemap h2{font-size:14px;font-weight:bold;color:#1d71b1;border-bottom:1px solid #d8d8d8;}
.sitemap h2 a{color:#1d71b1;}
.sitemap .sitebox{padding:10px;}
.sitemap .sitebox ul li{float:left;padding-right:10px;height:30px;line-height:30px;font-size:12px;}

.sitemap .mapprobox{float:left;padding:15px;margin-right:10px;border:1px solid #ccc;background:#f5f5f5;font-size:12px;}
.sitemap .mapprobox h4{font-weight:bold;}

/*全部分类菜单*/
/*左侧分类*/
.leftmenu{width:196px;background:#fff;border:2px solid #5abb1f;border-top:none;}
.leftmenu .leftmenubox{padding:5px 10px;border-top:1px solid #eee;/*background:#fff url(../img/dot3.gif) no-repeat 175px 10px;*/}
.leftmenu .leftmenubox_hover{width:230px;background:#fff url(../img/dot3.gif) no-repeat 175px 10px;color:#339933;border-top:1px solid #339933;border-bottom:1px solid #339933;border-left:1px solid #339933;position:relative;z-index:1000;}
.leftmenu .leftmenubox h3{font-size:14px;height:25px;}
.leftmenu .leftmenubox .com a{color:#666;}
.leftmenu .leftmenubox_hover .com a{color:#339933;}
.leftmenu .leftmenubigbox{width:500px;position:absolute;top:-1px;left:197px;padding:10px 30px;border:1px solid #339933;border-left:none;background:#fff;color:#999;z-index:900;background:#fff url(../img/leftmenu.gif) no-repeat left top;}
.leftmenu .leftmenubigbox .subleftmenu{border-bottom:1px dashed #eee;padding:5px 0;line-height:22px;}
.leftmenu .leftmenubigbox .subleftmenu h4{float:left;width:80px;font-size:14px;color:#0066cc;}
.leftmenu .leftmenubigbox .subleftmenu div{float:right;width:420px;}
.leftmenu .leftmenubigbox .subleftmenu span{float:left;padding-right:10px;line-height:28px;}
.leftmenu .leftmenubigbox .subleftmenu span a{color:#339933;}